---
Checks: '
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  misc-*,
  modernize-*,
  llvm-*
  performance-*,
  portability-*,
  readability-*
  '
...
